@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,700');

* {
    margin: initial !important;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/background-general4.png) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat !important;
    background-color: white !important;
    overflow-x: hidden;
}

#content {
    background-color: transparent !important;
    border: none !important;
}


/* Header */

header {
    z-index: 1;
    background-color: transparent !important;
}

#top-bar {
    padding: 0 !important;
    height: 15vh !important;
    width: 100%;
    background-color: transparent !important;
    box-shadow: initial !important;
    -webkit-box-shadow: initial !important;
}

#top-wrapper {
    height: 100%;
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#top-bar-center a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0) invert(1);
    height: initial !important;
    width: 178px !important;
}

#top-bar-right {
    align-self: flex-start;
    width: 375px;
    margin: 25px 25px 0 0 !important;
}

#v_card {
    height: initial !important;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
}

#v_card_text {
    order: 1;
    color: white !important;
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 15px !important;
    font-weight: lighter !important;
    letter-spacing: 1px;
}

#v_card_text strong {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 20px !important;
    font-weight: bold !important;
    letter-spacing: 2px;
}

#v_card_photo {
    order: 2;
    border: 3px solid white;
}

#logout {
    order: 3;
}

#logout span {
    display: none;
}

#logout a img {
    transition: 0.5s;
    width: 50px;
}

#logout a img:hover {
    margin-top: 15px !important;
}

#logout a:first-child {
    display: none;
}


/* Login */

#login {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/login-bg.gif) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
}

#login>img {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes login {
    0% {
        transform: translate(0, 100%);
        -webkit-transform: translate(0, 100%);
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        transform: translate(0, 5%);
        -webkit-transform: translate(0, 5%);
        opacity: 1;
    }
}


#login .box_center_large2 {
    animation: login 1.5s linear !important;
    position: absolute;
    margin: 5% 0 0 0 !important;
    background-color: white !important;
    box-shadow: 0 0 50px 0.5px hsla(0, 0%, 0%, 0.5);
    height: 60% !important;
    width: 30% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#login .img_box {
    height: initial !important;
    width: initial !important;
}

#login .img_box img {
    display: none;
}

#login .box_center_large2 .login_box {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    margin: initial !important;
    color: black !important;
    font-size: 42px !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: initial;
}

#login .box_center_large2 .login_box form {
    height: 80% !important;
    width: 100%;
}

#login .box_center_large2 .login_box table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100% !important;
    width: 100%;
}

#login .box_center_large2 .login_box tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100% !important;
    width: 55%;
}

#login .box_center_large2 .login_box a {
    color: black !important;
}

#login .box_center_large2 .login_box table tr {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    width: initial;
    margin: 15px !important;
}

#login .box_center_large2 .login_box table th {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: lighter;
    border: none;
    font-size: 25px;
    width: initial !important;
}

#login .box_center_large2 .login_box table td input {
    font-size: 20px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: lighter;
    font-style: italic;
    border: none;
    border-bottom: 1px solid black;
    width: 100% !important;
    padding: 10px;
}

#login .box_center_large2 .login_box table tr:last-child td {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#login .box_center_large2 .login_box table tr:last-child td a {
    transition: 0.1s;
    align-self: flex-end;
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: lighter;
}

#login .box_center_large2 .login_box table tr:last-child td a:hover {
    color: #ED631C !important;
}

#login .box_center_large2 .login_box table tr:last-child td input {
    transition: 0.1s;
    margin-top: -50px !important;
    border: none;
    background-color: #ED631C;
    color: white;
    font-size: 30px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    font-style: normal;
    width: initial !important;
    padding: 0.2em 1em !important;
}

#login .box_center_large2 .login_box table tr:last-child td input:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0.5px hsla(0, 0%, 0%, 0.8);
}


/* Erreur login */

#login .err {
    z-index: 2;
    width: 25% !important;
    position: absolute;
    top: 32.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent !important;
    border: none !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal !important;
    font-size: 20px;
}

@keyframes warning {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#login .err::before {
    content: "!";
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    font-size: 20px;
    padding: 0 11px;
    margin: 0 15px 0 0 !important;
    animation: warning 0.5s infinite;
}


/* Mot de passe oublié */

#login .box_center_large {
    animation: login 1.5s linear !important;
    position: absolute;
    margin: 5% 0 0 0 !important;
    background-color: white !important;
    box-shadow: 0 0 50px 0.5px hsla(0, 0%, 0%, 0.5);
    height: 40% !important;
    width: 30% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login .box_center_large .login_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
    margin: initial !important;
    color: black !important;
}

#login .box_center_large .login_box p {
    font-size: 30px !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: initial;
}

#login .box_center_large .login_box form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80% !important;
    width: 100%;
}

#login .box_center_large .login_box table {
    width: 70%;
}

#login .box_center_large .login_box tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100% !important;
    width: 100%;
}

#login .box_center_large .login_box table tr {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin: 20px 0 !important;
}

#login .box_center_large .login_box table th {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: initial;
    text-transform: initial;
    border: none;
    font-size: 25px;
    width: initial !important;
}

#login .box_center_large .login_box table td input {
    font-size: 20px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: lighter;
    font-style: italic;
    border: none;
    border-bottom: 1px solid black;
    width: 100% !important;
    padding: 10px;
}

#login .box_center_large .login_box table tr:last-child td input {
    transition: 0.2s;
    border: none;
    background-color: #ED631C;
    color: white;
    font-size: 30px !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    font-style: normal;
    width: initial !important;
    padding: 0.2em 1em !important;
}

#login .box_center_large .login_box table tr:last-child td input:hover {
    cursor: pointer;
    box-shadow: 0 0 50px 0.5px hsla(0, 0%, 0%, 0.5);
}


/* Menu */

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    height: 65vh !important;
    background-color: transparent !important;
    left: 0;
    top: 15vh;
    width: 210px !important;
}

#sidebar .section {
    width: 100%;
    background-color: transparent !important;
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 0 5px 0 20px;
}

#sidebar .menu_list {
    width: 100%;
}

#sidebar ul {
    padding: 0 !important;
    list-style: none;
    width: 100%;
    font-size: 16px;
    line-height: 2em;
    margin: 0 0 2em 0 !important;
}

#sidebar ul li {
    transition: 0.2s;
    padding: 0 10px 0 40px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

#sidebar ul li:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0));
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#sidebar ul li a {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: lighter !important;
}

#sidebar ul li a:hover {
    text-decoration: initial !important;
    font-style: initial !important;
}

#sidebar .menu_list:nth-of-type(2) ul li:last-of-type {
    display: none !important;
}

#presence {
    overflow: hidden;
    transition: 0.4s all;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: bold;
    color: white;
    z-index: 99;
    position: fixed;
    width: 75px;
    height: 75px;
    background: linear-gradient(20deg, #832B71 25%, #E01A21, #FCB616 85%);
    border-radius: 50%;
    box-shadow: 0 0 10px 0.5px hsla(0, 0%, 0%, 0.5);
    bottom: 50px;
    right: 50px;
}

#presence:hover {
    font-size: 30px;
    width: 300px;
    border-radius: 50px;
}


/* Content - box */

#content_box {
    position: absolute;
    top: 15vh;
    left: 210px;
    width: 83% !important;
    box-shadow: 0px 10px 25px 0.5px hsla(0, 0%, 0%, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
    padding: 0 0 100px 0 !important;
    min-height: 66% !important;
}

#content_box header {
    width: 90%;
    text-align: left !important;
}

#content_box header h2 {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding: 1.5em 0 0.3em 0 !important;
}

#content_box header h2::after {
    content: ":";
}

#content_box header hr {
    z-index: 0;
    background: black !important;
    color: black !important;
    border: none;
    height: 1px;
    width: 100% !important;
}

.dfilter {
    z-index: 1;
    text-align: right !important;
    margin-top: -0.8em !important;
    width: 19%;
    align-self: flex-end;
    background-color: white;
}

.dfilter b {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding: 0 0 0 8px;
}

.dfilter select {
    background-color: #ED631C;
    color: white;
    padding: 2px;
    border: none;
    font-size: 14px;
    border-radius: 0 !important;
}


/* Accueil */

#board {
    width: 90%;
}

#board>div:first-of-type {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#board h3:last-of-type {
    display: none;
}

#board hr:last-of-type {
    display: none;
}

#board h3:first-of-type {
    order: 1;
}

#board h3 i:first-child {
    display: none;
}

#board h3 {
    margin: 3em 0 2em 0 !important;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#board .adm_table tr:first-child th {
    padding: 0.5em 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #F7F7F7;
    color: black;
    border: 1px solid #CECECE;
}

#board p {
    line-height: 2em;
    color: #ED631C !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 300 !important;
    font-size: 16px !important;
}

#board p a {
    transition: 0.1s;
    text-decoration: initial !important;
}

#board p a:hover {
    color: #ED631C !important;
}

#board>div:last-child {
    background-color: transparent !important;
    width: 100% !important;
    height: 25vh !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#board>div:last-child>a {
    padding: 0 !important;
    width: 19% !important;
    height: 100% !important;
}

#board>div:last-child>a .box_center {
    transition: 0.5s;
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/bg-categories.png) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100% !important;
    background-color: transparent !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board>div:last-child>a .box_center:hover {
    margin: -50px 0 0 0 !important;
    box-shadow: 0 10px 50px 0.5px hsla(0, 0%, 0%, 0.9);
}

#board>div:last-child>a div {
    width: 100% !important;
}

#board>div:last-child>a .box_center .img_box {
    display: none;
}

#board>div:last-child>a .box_center .text_box {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black !important;
}

#breadcrumbs-one {
    order: 1;
    width: 100% !important;
    margin: 10px 0 100px 0 !important;
    border: none !important;
    background-color: transparent !important;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #CECECE !important;
    overflow: initial !important;
}

#breadcrumbs-one li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#breadcrumbs-one li a {
    padding: 1.5em 0 0 0 !important;
    transition: 0.2s;
    margin: 10px 0 0 0 !important;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 20px;
    font-weight: normal !important;
    color: #CECECE !important;
    background-color: transparent !important;
}

#breadcrumbs-one li a:hover {
    color: #ED631C !important;
}

#breadcrumbs-one li a::before {
    content: "" !important;
    top: -18%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #CECECE;
    border: 5px solid white !important;
}

#breadcrumbs-one li a:hover::before {
    background-color: #ED631C;
}

#breadcrumbs-one .current {
    color: #ED631C !important;
}

#breadcrumbs-one .current:hover {
    color: #CECECE !important;
}

#breadcrumbs-one .current::before {
    background-color: #ED631C;
}

#breadcrumbs-one .current:hover::before {
    background-color: #CECECE;
}

#breadcrumbs-one li a::after {
    display: none;
}



/* Projet */


.content_display {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.content_display h2 {
    margin: 2em 0 0.5em 0 !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: bold !important;
    font-size: 20px !important;
}

.content_display h3 {
    margin: 2em 0 0.5em 0 !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: bold !important;
    font-size: 20px !important;
}

#title_project th {
    padding: 0.5em;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #F7F7F7;
    color: black;
    border: 1px solid #CECECE;
}

.proj_info .projet_table {
    width: 100% !important;
    display: flex;
    justify-content: center;
}

.proj_info .projet_table .prj_col_h {
    background-color: transparent !important;
    border: 1px solid #CECECE !important;
}

.proj_info .projet_table .prj_col_h .adm_table th {
    border: none !important;
    border-bottom: 1px solid #CECECE !important;
}


/* Planning */


.content_display>.menu {
    margin-top: 2em !important;
}

#planning {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px !important;
}

#planning iframe {
    width: 90%;
}


/* Notes */

.content_display>.new-ergo-info {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    width: 30%;
    align-self: flex-end;
    text-align: right;
    margin: 5em 0 0 0 !important;
}

.content_display>p:first-of-type {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    width: 30%;
    align-self: flex-end;
    text-align: right;
    margin: 5em 0 0 0 !important;
}

.content_display>.new-ergo-info::before {
    content: "i";
    color: #ED631C;
    border: 2px solid #ED631C;
    border-radius: 50%;
    font-size: 20px;
    padding: 0 11px;
    margin: 0 15px 0 0 !important;
}

.content_display>p:first-of-type::before {
    content: "i";
    color: #ED631C;
    border: 2px solid #ED631C;
    border-radius: 50%;
    font-size: 20px;
    padding: 0 11px;
    margin: 0 15px 0 0 !important;
}

table {
    border: none !important;
}

.adm_table tr td {
    padding: 16px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #CECECE;
}

.adm_table tr td b {
    font-weight: normal;
}

.adm_table thead th {
    padding: 0.5em 16px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background-color: #F7F7F7 !important;
    color: black;
    border: 1px solid #CECECE !important;
}

.content_display #grades {
    width: 100% !important;
}

.content_display #grades tr {
    display: flex;
    width: 100% !important;
}

.content_display #grades thead tr th {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_display #grades thead tr th:nth-child(1) {
    flex: 2 !important;
}

.content_display #grades thead tr th:nth-child(2) {
    flex: 3 !important;
}

.content_display #grades thead tr th:nth-child(3) {
    flex: 3 !important;
}

.content_display #grades thead tr th:nth-child(4) {
    order: 1;
    flex: 1 !important;
}

.content_display #grades thead tr th:nth-child(5) {
    text-align: left;
    flex: 4 !important;
}

.content_display #grades thead tr th:nth-child(6) {
    order: 1;
    flex: 1 !important;
}

.content_display #grades tbody tr td {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px !important;
}

.content_display #grades tbody tr td:nth-child(1) {
    font-size: 18px !important;
    flex: 2 !important;
}

.content_display #grades tbody tr td:nth-child(2) {
    flex: 3 !important;
}

.content_display #grades tbody tr td:nth-child(3) {
    flex: 3 !important;
}

.content_display #grades tbody tr td:nth-child(4) {
    order: 1;
    flex: 1 !important;
}

.content_display #grades tbody tr td:nth-child(5) {
    text-align: left;
    font-size: 16px !important;
    flex: 4 !important;
}

.content_display #grades tbody tr td:nth-child(6) {
    order: 1;
    flex: 1 !important;
}

html body #content #content_box .content_display.new_ergo_content #grades tbody tr[style*="background-color:white;"] {
    background-color: #C8C8C8 !important;
}

html body #content #content_box .content_display.new_ergo_content #grades tbody tr[style*="background-color:white;"] td {
    background-color: transparent !important;
    color: white;
}


/* QCM */

.content_display #menu {
    display: flex;
    justify-content: flex-end;
    margin: -22px 50px 0 0 !important;
}

.content_display #menu a {
    z-index: 1;
    transition: 0.2s;
    background-color: white !important;
    box-shadow: none !important;
    background-image: none !important;
    text-shadow: none !important;
    border: none !important;
    font-size: 18px;
    color: black;
}

.content_display #menu a:hover {
    color: #ED631C;
}

@keyframes refresh {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content_display #menu a:hover i {
    animation: refresh 2s linear infinite;
}

.content_display #menu a:hover i {
    transform: rotate(45deg);
}

.content_display .adm_table tbody tr th {
    background-color: #F7F7F7;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    color: black !important;
    border: 1px solid #CECECE !important;
    padding: 0.5em 16px;
}

.content_display .adm_table tbody tr .tcenter:first-of-type {
    background-color: white;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    color: black !important;
    border: 1px solid #CECECE !important;
    width: 100% !important;
    padding: 1em 16px;
}

.content_display .adm_table tbody tr th:nth-child(1) {
    flex: 1.3;
}

.content_display .adm_table tbody tr th:nth-child(2) {
    flex: 2;
}

.content_display .adm_table tbody tr th:nth-child(3) {
    flex: 1.3;
}


/* Code Présence */

.content_display form {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#token-input {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 300 !important;
    font-size: 288px !important;
    color: #FFE0D1 !important;
    background-color: transparent !important;
    height: 300px !important;
    width: 2.5em !important;
    border: none !important;
    border-bottom: 5px solid #ED631C !important;
    padding: 20px 0 0 0;
    letter-spacing: 10px;
}

#token-input::placeholder {
    color: #FFE0D1;
    color: #FFE0D1;
    letter-spacing: 10px;
}

.content_display form .btn-success {
    transition: 0.2s !important;
    line-height: initial !important;
    border: none;
    background-image: none;
    text-shadow: none !important;
    border-radius: 0 !important;
    margin: 2em 0 0 0 !important;
    background-color: #ED631C;
    color: white;
    font-size: 30px !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 30px !important;
    font-weight: normal !important;
    text-transform: uppercase;
    width: initial !important;
    padding: 0.2em 1em !important;
}

.content_display form .btn-success:hover {
    cursor: pointer;
    box-shadow: 0 0 50px 0.5px hsla(0, 0%, 0%, 0.5);
}

.content_display .new-ergo-info {
    margin: 2em 0 0 0 !important;
    color: black !important;
    border: none !important;
    background-color: transparent !important;
}

.content_display .new-ergo-info i {
    display: none;
}

.content_display .new-ergo-warning:first-of-type {
    position: absolute;
    align-self: flex-start;
    background-color: transparent !important;
    border: none !important;
    text-decoration: blink;
}

.content_display .new-ergo-warning:first-of-type::before {
    content: "!";
    color: red;
    border-color: red;
    animation: warning 0.5s infinite;
}

.content_display .new-ergo-warning i {
    display: none;
}

.content_display .new-ergo-ok i {
    display: none;
}

.content_display .new-ergo-ok:first-of-type {
    position: absolute;
    align-self: flex-start;
    background-color: transparent !important;
    border: none !important;
    text-decoration: blink;
}

.content_display .new-ergo-ok:first-of-type::before {
    content: "V";
    color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
    animation: warning 0.5s infinite;
}


/* Règlements */

#liste-reglements {
    margin: 100px 0 0 100px !important;
    list-style: none;
}

#liste-reglements li {
    margin: 10px 0 !important;
}

#liste-reglements li::before {
    content: "- ";
}

#liste-reglements li a {
    transition: 0.1s;
    text-decoration: none;
}

#liste-reglements li a:hover {
    color: #ED631C;
}


/* Footer */

#content>footer {
    display: none;
}

#content_box>footer {
    position: absolute;
    background: transparent !important;
    width: 40%;
    align-self: flex-end;
    bottom: -10px;
    right: -7.5%;
}

#content_box>footer img{
    background: transparent !important;
    width: 100%;
}